.tableLine, .propertyLine {
    display: flex;
    flex-direction: row;
}

.detailLine {
    display: flex;
    flex-direction: column;
}

.tableLine:nth-child(odd) {
    background-color: aqua;
}

.tableLine:nth-child(even) {
    background-color: lightgrey;
}

.tableLine .time {
    width: 475px;
    min-width: 475px;
}

