:root {
    --highlight-color: #00FFFF;
    --background-color: #002432;
    --text-color: #002432;
    --contrast-color-3: #00b6a5;
    --contrast-color: lightgray;
    --contrast-color-2:   #f9f9eb;
    --header-text-color: white;
}

.tableLine, .propertyLine {
    display: flex;
    flex-direction: row;
}

.detailLine {
    display: flex;
    flex-direction: column;
}

.tableLine, .table-header {
    /*background-color: aqua;*/
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.tableLine:nth-child(even) {
    background-color: var(--contrast-color-2);
}

.tableLine:nth-child(odd) {
    background-color: var(--contrast-color);
}

.tableLine .time {
    width: 250px;
    display: flex;
    flex-direction: row;
}

.expandButton, .buttonPressed {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: -2px;
}

.buttonOver {
    color: var(--highlight-color);;
    cursor: pointer;
}

.buttonPressed {
    color: var(--contrast-color-3);
    cursor: pointer;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}

.title {
    color: var(--header-text-color);
    font-size: 36px;
}

.table-container {
    width: 1150px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: scroll;
}

.table-header.tableLine {
    background-color: var(--highlight-color);;
    color: var(--text-color);;
    font-weight: bold;
}

.table-header > div:first-child {
    padding-left: 25px;
    width: 225px;
}

