.tableLine, .propertyLine {
    display: flex;
    flex-direction: row;
}

.detailLine {
    display: flex;
    flex-direction: column;
}

.tableLine {
    /*background-color: aqua;*/
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.tableLine:nth-child(even) {
    background-color: #d9d9d9;
}

.tableLine .time {
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    width: 250px;
    display: flex;
    flex-direction: row;
}

.expandButton, .buttonPressed {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.buttonOver {
    color: white;
    cursor: pointer;
}

.buttonPressed {
    color: magenta;
    cursor: pointer;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 85%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.table-row {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.table-row:last-child {
    border-bottom: none;
}

.table-header {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.table-header > div:first-child {
    padding-left: 25px;
    width: 225px;
}

.table-cell {
    flex: 1;
    padding: 12px;
    text-align: left;
}

.table-cell:first-child {
    padding-left: 16px;
}

.table-cell:last-child {
    padding-right: 16px;
}

.table-header .table-cell {
    padding: 16px;
    text-align: center;
}

.table-row .table-cell {
    padding: 12px;
}

.table-container .table-row:hover {
    background-color: #f1f1f1;
}


